In [376]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

df = pd.read_csv("./data/Ana_Health-Tabela_Modelo_Previsao_Churn.csv",skiprows=1)

cols = ['Interesses', 'id_health_plan', 'Cancelamentos Todos Atendimento', 'id_person', 'Social', 'city', 'id_person_recommendation', 'postal_code', 'contract_start_date', 'lost_time.1', 'contract_end_date', 'stay_in_pipeline_stages_welcome']

In [377]:

df = df[cols]
df.head()

,Interesses,id_health_plan,Cancelamentos Todos Atendimento,id_person,Social,city,id_person_recommendation,postal_code,contract_start_date,lost_time.1,contract_end_date,stay_in_pipeline_stages_welcome
0,NaN,417.0,False,250,"4,0; 4,0; 3,7",São Paulo,NaN,04534-020,2021-01-28,NaN,NaN,0.0
1,NaN,NaN,False,254,NaN,Mecklenburg County,NaN,28203,2020-12-16,2022-01-25 02:52:00,2021-11-18,9616671.0
2,NaN,NaN,False,314,NaN,São Paulo,NaN,05337-030,2021-01-21,NaN,2021-03-16,NaN
3,NaN,NaN,False,315,NaN,NaN,NaN,NaN,2020-12-17,NaN,2021-04-27,NaN
4,NaN,NaN,False,317,NaN,São Paulo,NaN,05421-050,2021-01-18,NaN,2021-03-16,NaN

In [378]:
# drop interstes
df = df.drop(['Interesses'], axis=1)

In [379]:
# see how many nan values are in each column
# DEVEMOS DROPAR id_health_plan ???????
df.isnull().sum()

id_health_plan                      678
Cancelamentos Todos Atendimento       0
id_person                             0
Social                              304
city                                 19
id_person_recommendation           1092
postal_code                          39
contract_start_date                   0
lost_time.1                         885
contract_end_date                   638
stay_in_pipeline_stages_welcome      86
dtype: int64

In [380]:
df["Cancelamentos Todos Atendimento"].value_counts()
# drop Cancelamentos Todos Atendimento
df = df.drop(['Cancelamentos Todos Atendimento'], axis=1)

In [381]:
# check if there are any repeated id_person
len(df['id_person'].value_counts()) - len(df['id_person'])

0

In [382]:
# remove nan values
df_teste = df["Social"].dropna()
df_teste.head(10)

# relacoes pessoais, apoio social, aspecto sexual.

0          4,0; 4,0; 3,7
12                     4
16         3,0; 3,3; 4,3
17              3,0; 3,0
21              5,0; 5,0
23              4,7; 4,0
24    4,0; 4,0; 4,3; 4,0
28              2,7; 2,7
29    3,7; 3,7; 4,0; 4,0
30                     4
Name: Social, dtype: object

In [383]:
cidades = df['city'].value_counts()
# if city is nan, replace with other
df['city'] = df['city'].fillna('other')

# if the city is less than 10, replace with other
df['city'] = df['city'].apply(lambda x: 'other' if x in cidades[cidades < 10].index else x)

df['city'].value_counts()

other             367
São Paulo         197
São Carlos        104
Novo Airão         96
Rio de Janeiro     62
Manaus             60
Curitiba           38
Florianópolis      37
Ribeirão Preto     31
Juiz de Fora       27
Campinas           23
Palhoça            22
Salvador           22
Belo Horizonte     17
Franca             16
São José           16
Guarulhos          15
Fortaleza          15
Recife             15
Itatiba            12
Uberlândia         10
Name: city, dtype: int64

In [384]:
df["id_person_recommendation"].fillna(False, inplace = True)
# if id_person_recommendation is not false, replace with true

df["id_person_recommendation"] = df["id_person_recommendation"].apply(lambda x: True if x != False else False)

df["id_person_recommendation"].value_counts()

False    1092
True      110
Name: id_person_recommendation, dtype: int64

In [385]:
# drop postal_code
df = df.drop(['postal_code'], axis=1)

In [386]:
# contract start date and end date to datetime
df['contract_start_date'] = pd.to_datetime(df['contract_start_date'])
df['contract_end_date'] = pd.to_datetime(df['contract_end_date'])

In [387]:
# Convert to datetime
df['lost_time.1'] = pd.to_datetime(df['lost_time.1'])

# Convert to period (month)
df['lost_time_month'] = df['lost_time.1'].dt.to_period('M')

# Handling NaN values (you might want to replace this with a specific strategy)
# For example, leave NaN as is, or replace with a placeholder date
df['lost_time_month'].fillna(pd.NaT, inplace=True)

# Value counts
print(df["lost_time_month"].value_counts())

2022-05    46
2023-08    38
2023-09    25
2022-04    25
2022-06    21
2022-08    18
2023-10    17
2022-07    17
2022-11    16
2023-04    15
2022-09    14
2023-05    13
2023-06    12
2022-03     9
2022-01     7
2023-07     4
2021-10     4
2023-11     3
2022-10     3
2021-11     3
2022-02     3
2022-12     2
2023-02     2
Freq: M, Name: lost_time_month, dtype: int64

In [391]:
df["stay_in_pipeline_stages_welcome"].fillna(0, inplace = True)
df["stay_in_pipeline_stages_welcome"].astype(int)
df["stay_in_pipeline_stages_welcome"].value_counts( ascending=True)

10871693.0      1
70653.0         1
486348.0        1
605705.0        1
1058728.0       1
             ...
235.0           2
605892.0        2
203.0           2
86651.0         2
0.0           168
Name: stay_in_pipeline_stages_welcome, Length: 1031, dtype: int64