In [3]:
import pandas as pd
import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    database='anahealth',
    user='mcjac9esy23mrisdjorq',
    password='pscale_pw_USUCnX1syI5bgAXeObJducPgAEIVUWimt2Y7vTXNPXM',
    host='aws.connect.psdb.cloud'
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to fetch data from the "users" table
cursor.execute("SELECT * FROM users")
users_data = cursor.fetchall()

# Execute the SQL query to fetch data from the "auth_log" table
cursor.execute("SELECT * FROM auth_logs")
auth_log_data = cursor.fetchall()

# Create DataFrames from the fetched data
users_df = pd.DataFrame(users_data, columns=[desc[0] for desc in cursor.description])
auth_log_df = pd.DataFrame(auth_log_data, columns=[desc[0] for desc in cursor.description])

# Close the cursor and connection
cursor.close()
conn.close()

# Display the DataFrames
auth_log_df.head()

   id username                time      type
0   1    admin 2023-12-04 18:53:06  register
1   2    admin 2023-12-04 19:06:58     login

In [4]:
users_df.head()

,id,username,time,type
0,1,admin,$2b$12$rTYNSzpcWNUBW1Z.jLEDeOZlu6wDinfkRqSBTaW...,admin@anahealth.app