In [5]:
import pandas as pd
import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    database='anahealth',
    user='ltizcowzwewdbydyu4p5',
    password='pscale_pw_Hzw7d2EaZSU4DglkKbhQsUhJV7NLM1mnco4fBKyEr8M',
    host='aws.connect.psdb.cloud'
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to fetch data from the "users" table
cursor.execute("SELECT * FROM users")
users_data = cursor.fetchall()

# Execute the SQL query to fetch data from the "auth_log" table
cursor.execute("SELECT * FROM auth_logs")
auth_log_data = cursor.fetchall()

# Create DataFrames from the fetched data
users_df = pd.DataFrame(users_data, columns=[desc[0] for desc in cursor.description])
auth_log_df = pd.DataFrame(auth_log_data, columns=[desc[0] for desc in cursor.description])

# Close the cursor and connection
cursor.close()
conn.close()

# Display the DataFrames        
auth_log_df

    id               username                time      type
0    1                  admin 2023-12-04 18:53:06  register
1    2                  admin 2023-12-04 19:06:58     login
2    3                 lasojf 2023-12-04 20:32:36  register
3    4                    leo 2023-12-04 20:35:04  register
4    5                matheus 2023-12-04 20:38:08  register
5    6                matheus 2023-12-04 20:38:57     login
6    7                matheus 2023-12-04 20:39:04    logout
7    8                    leo 2023-12-04 20:39:37     login
8    9                    leo 2023-12-04 20:40:52    logout
9   10                   erik 2023-12-04 20:43:23  register
10  11                   erik 2023-12-04 20:44:39     login
11  12                   erik 2023-12-04 20:44:41    logout
12  13   ltizcowzwewdbydyu4p5 2023-12-04 20:47:59     login
13  14   ltizcowzwewdbydyu4p5 2023-12-04 20:51:42     login
14  15                    leo 2023-12-04 20:52:12    logout
15  16                    leo 2023-12-04 20:52:23     login
16  17                 admin2 2023-12-04 20:53:22  register
17  18                gustavo 2023-12-05 10:51:20  register
18  19                gustavo 2023-12-05 10:55:29    logout
19  20  gustavo@anahealth.app 2023-12-05 10:56:40     login
20  21                gustavo 2023-12-05 10:56:48    logout
21  22      leo@anahealth.app 2023-12-05 10:56:56     login
22  23                    leo 2023-12-05 10:56:59    logout
23  24  gustavo@anahealth.app 2023-12-05 10:57:07     login
24  25                gustavo 2023-12-05 10:57:12    logout
25  26      leo@anahealth.app 2023-12-05 11:03:28     login
26  27                    leo 2023-12-05 11:04:34    logout
27  28                    leo 2023-12-05 11:04:41     login
28  29                    leo 2023-12-05 11:04:42     login

In [6]:
users_df

,id,username,time,type
0,1,admin,$2b$12$rTYNSzpcWNUBW1Z.jLEDeOZlu6wDinfkRqSBTaW...,admin@anahealth.app
1,2,lasojf,$2b$12$SVXomgblWIjFEh0jKpz4Uu.jNhbwcFXZmOImtkF...,assf@anahealth.app
2,3,leo,$2b$12$.rIFulMQjzx5UFz23tC4xOFQ6MyMisED8baqdC9...,leo@anahealth.app
3,4,matheus,$2b$12$d9N2L.vSjcV5uX30VqIvve6KH1hAn2uQrB1oxc6...,matheus@anahealth.app
4,5,erik,$2b$12$8DConoJK0ttYTFWjm1UhHeXizG576HjlvWmy1Oy...,erik@anahealth.app
5,6,admin2,$2b$12$hOe0amEVsJ18siSWgkwf9.6dfObAYWdIb4MrdpJ...,admin2@anahealth.app
6,7,gustavo,$2b$12$953dKVjXLgU7.tZKM6ateeRcN1QOkGqdUWLIRm6...,gustavo@anahealth.app